{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{flood.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="id">id</label>
            <input id="id" type="text" class="form-control" placeholder="id"
                   name="id" value="{{flood.id}}">
        </div>
        <div class="col">
            <label for="Year">Year</label>
            <input id="Year" type="text" class="form-control" placeholder="Year" name="Year" value="{{flood.Year}}">
        </div>
        <div class="col">
            <label for="Flood_Height">Flood_Height</label>
            <input id="Flood_Height" type="text" class="form-control" placeholder="Flood_Height"
                   name="fldAbbreviation" value="{{flood.FloodHeight}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}