{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{flood.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Year">Year</label>
            <input id="fldName" type="text" class="form-control" placeholder="Year" name="Year" value="{{flood.Year}}">
        </div>
        <div class="col">
            <label for="FloodHeight">FloodHeight</label>
            <input id="FloodHeight" type="text" class="form-control" placeholder="FloodHeight"
                   name="fldAbbreviation" value="{{flood.FloodHeight}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}