{% extends "layout.html" %}
{% block content %}
<form action="/floods/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Year">Year</label>
            <input id="Year" type="text" class="form-control" placeholder="Year" name="Year">
        </div>
        <div class="col">
            <label for="Flood_Height">Flood_Height</label>
            <input id="Flood_Height" t ype="text" class="form-control" placeholder="Flood_Height"
                   name="Flood_Height">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}